<div class="container-fluid">
	<div class="row">
		<div class="col">

			<!-- MENU -->
			<div class="btn-group m-1">
				<button type="button" class="btn btn-success dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					translate="viewBond.bond.menu.revenue"></button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#!viewRevenueTimeline"
						translate="viewBond.bond.menu.revenue.timeline"></a>
				</div>
			</div>

			<div class="btn-group m-1">
				<button type="button" class="btn btn-secondary dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					translate="viewBond.bond.menu.admin"></button>
				<div class="dropdown-menu">
					<a class="dropdown-item" data-toggle="modal"
						data-target="#deleteBondModal" href=""
						translate="viewBond.bond.menu.admin.delete"></a>
				</div>
			</div>

		</div>
	</div>
	<div class="row m-1 mt-1">
		<div class="col-md-auto p-0">
			<table class="table p-0 m-0">
				<tr class="bg-primary text-light">
					<td class="border border-light"><b>Year</b></td>
				</tr>
				<tr class="bg-info text-light">
					<td class="border border-light"><b>Month</b></td>
				</tr>
				<tr class="bg-info text-light">
					<td class="border border-light"><b>Day</b></td>
				</tr>
				<tr class="">
					<td class="border border-light">Depot</td>
				</tr>
				<tr>
					<td class="border border-light">Bond</td>
				</tr>
			</table>
		</div>
		<div class="col p-0 m-0" style="overflow-x: scroll;">
			<table class="table p-0 m-0">
				<tr class="bg-primary text-light">
					<td class="border border-light" colspan="{{year.colspan}}"
						ng-repeat="year in timeline.year"><b>{{year.yearString}}</b></td>
				</tr>
				<tr class="bg-info text-light">
					<td class="border border-light" colspan="{{month.colspan}}"
						ng-repeat="month in timeline.month track by $index"><b>{{month.monthString}}</b></td>
				</tr>
				<tr class="bg-info text-light">
					<td class="border border-light" colspan="{{week.colspan}}"
						ng-repeat="week in timeline.week track by $index"><b>{{week.weekString}}</b></td>
				</tr>
				<tr class="bg-info text-light">
					<td class="border border-light"
						ng-repeat="day in timeline.day track by $index" align="center"><b>{{day}}</b></td>
				</tr>
				<tr class="text-light">
					<td class="border border-light {{bond.color}}"
						ng-repeat="bond in timeline.bond track by $index"><b>{{bond.revenue}}</b></td>
				</tr>
				<tr>
					<td class=""></td>
				</tr>
			</table>
		</div>
	</div>
</div>
