<!-- <div> -->
<!-- 	<div class="container"> -->

<!-- 		<!-- DEPOT TITLE --> -->
<!-- 		<div class="row"> -->

<!-- 			<div class="col"> -->

<!-- 				<ul class="list-group m-1"> -->

<!-- 					<li class="list-group-item active"> -->

<!-- 						<div class="container-fluit"> -->
<!-- 							<div class="row"> -->
<!-- 								<div class="col"> -->
<!-- 									<b>{{'viewDepot.depot.menu.title'|translate}} {{selectedDepot.name}}</b> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->

<!-- 					</li> -->

<!-- 				</ul> -->

<!-- 			</div> -->

<!-- 		</div> -->

<!-- 		<div class="row"> -->

<!-- 			<div class="col"> -->
			
<!-- 				DEPOT MENU -->
<!-- 				<div class="btn-group m-1"> -->
<!-- 					<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate="viewDepot.depot.menu.admin"></button> -->
<!-- 					<div class="dropdown-menu"> -->
<!-- 						<a class="dropdown-item" data-toggle="modal" data-target="#deleteDepotModal" href="" translate="viewDepot.depot.menu.admin.delete"></a> -->
<!-- 					</div> -->
<!-- 				</div> -->

<!-- 				MODAL DIALOG -->
<!-- 				<div class="modal fade" id="deleteDepotModal" tabindex="-1" role="dialog" aria-labelledby="deleteDepotModalLabel" aria-hidden="true"> -->
<!-- 					<div class="modal-dialog" role="document"> -->
<!-- 						<div class="modal-content"> -->
<!-- 							<div class="modal-header"> -->
<!-- 								<h5 class="modal-title" id="deleteDepotModalLabel">{{'viewDepot.depot.menu.admin.delete.dialog.title'|translate}} {{selectedDepot.name}}</h5> -->
<!-- 								<button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
<!-- 									<span aria-hidden="true">&times;</span> -->
<!-- 								</button> -->
<!-- 							</div> -->
<!-- 							<div class="modal-body" translate="viewDepot.depot.menu.admin.delete.dialog.question"></div> -->
<!-- 							<div class="modal-footer"> -->
<!-- 								<button ng-click="deleteDepot()" type="button" class="btn btn-primary" data-dismiss="modal" translate="viewDepot.depot.menu.admin.delete.dialog.button.delete"></button> -->
<!-- 								<button type="button" class="btn btn-secondary" data-dismiss="modal" translate="viewDepot.depot.menu.admin.delete.dialog.button.cancel"></button> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->

<!-- 				 BOND GROUP  -->
<!-- 				<ul class="list-group m-1"> -->
<!-- 					<li class="list-group-item active"> -->

<!-- 						<div class="container-fluit"> -->
<!-- 							<div class="row"> -->
<!-- 								<div class="col"> -->
<!-- 									<b translate="viewDepot.depot.bond.title"></b> -->
<!-- 								</div> -->
<!-- 								<div class="col"></div> -->
<!-- 								<div class="col" align="right" valign="middle"> -->
<!-- 									<a href=""><img src="icon/plus-2x-w.png"></a> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->

<!-- 					</li> -->
<!-- 				</ul> -->

<!-- 			</div> -->

<!-- 		</div> -->

<!-- 	</div> -->
<!-- </div> -->