<!DOCTYPE html>

<!-- HTML -->
<html ng-app="appRevenue">

<!-- Head -->
<head>

<!-- Title -->
<title>Revenue</title>

<!--  Meta Data -->
<meta charset="UTF-8">

<!-- Links -->
<link rel="shortcut icon" type="image/png" href="icon/favicon.ico">
<link rel="stylesheet" href="../lib/bootstrap-4.0.0/css/bootstrap.min.css">

</head>

<!-- Body -->
<body ng-controller="ctrlTranslate">

	<nav
		class="navbar navbar-expand-sm navbar-dark bg-primary navbar-fixed-top">
		<div class="container-fluid">

			<a class="navbar-brand" href="#"> <img
				src="icon/revenue_logo.svg" width="30" height="30"
				class="d-inline-block align-top" alt=""> <b>Revenue</b>
			</a>

			<div class="collapse navbar-collapse" id="nav-content">
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
						id="language" role="button" aria-haspopup="true"
						aria-expanded="false"> Language </a>
						<div class="dropdown-menu" aria-labelledby="Preview">
							<a ng-click="changeLang('de_DE')" href="" class="dropdown-item">
								<img src="icon/lang/DE.png"></img> <span valign="middle"
								translate="viewIndex.language.de"></span>
							</a> <a ng-click="changeLang('en_EN')" href="" class="dropdown-item">
								<img src="icon/lang/GB.png"></img> <span valign="middle"
								translate="viewIndex.language.en"></span>
							</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>

	<div ng-view></div>

	<nav class="navbar navbar-dark bg-primary fixed-bottom">
		<!-- navbar-expand-sm -->
		<!-- 		<div class="container-fluit"> -->
		<!-- 			<div class="row"> -->
		<!-- 				<div class="col"> -->

		<!-- 			<div class="collapse navbar-collapse" id="nav-content"> -->
		<!-- 				<ul class="nav navbar-nav"> -->
		<!-- 					<li class="nav-item dropup"><a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Dropdown </a> -->
		<!-- 						<div class="dropdown-menu" aria-labelledby="Preview"> -->
		<!-- 							<a class="dropdown-item" href="#">Dropdown Link 1</a> <a class="dropdown-item" href="#">Dropdown Link 2</a> <a class="dropdown-item" href="#">Dropdown Link 3</a> -->
		<!-- 						</div></li> -->
		<!-- 				</ul> -->
		<!-- 			</div> -->

		<ul class="nav navbar-nav navbar-right">
			<li><h6 class="text-white nav-item">Made by mnemotron.</h6></li>
		</ul>
		<!-- 				</div> -->
		<div class="container">
			<div class="row">
				<div class="col">
				
					<ul class="nav navbar-nav">
						<li><h6 class="text-white nav-item" ng-bind="breadcrumb"></h6></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 				<div class="col"> -->
		<ul class="nav navbar-nav navbar-left">
			<li><h6 class="text-white nav-item">jjjjjjjjjjjjjjjjj.</h6></li>
		</ul>

		<!-- 				</DIV> -->
		<!-- 			</DIV> -->
		<!-- 		</div> -->
	</nav>

	<!-- Vendor Scripts -->
	<script src="../lib/angular-1.6.6/js/angular.min.js"></script>
	<script src="../lib/angular-1.6.6/js/angular-sanitize.min.js"></script>
	<script src="../lib/angular-1.6.6/js/angular-route.min.js"></script>
	<script src="../lib/angular-translate-2.15.2/js/angular-translate.min.js"></script>
	<script src="../lib/angular-translate-2.15.2/js/angular-translate-loader-static-files.min.js"></script>
	<script src="../lib/angular-ngStorage-0.3.11/js/ngStorage.min.js"></script>
	<script src="../lib/jquery-3.2.1/js/jquery-3.2.1.min.js"></script>
	<script src="../lib/popper-1.11.0/js/popper.min.js"></script>
	<script src="../lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>

	<!--  Customs Scripts -->
	<!-- Revenue -->
	<script src="revenue.module.js"></script>
	<script src="config/revenue.config.js"></script>
	<script src="service/storage.service.js"></script>
	<script src="service/breadcrumb.service.js"></script>
	
	<!-- Portfolio -->
	<script src="module/portfolio/service/portfolio.service.js"></script>
	<script src="module/portfolio/config/portfolio.config.js"></script>
	<script src="module/portfolio/portfolio.module.js"></script>
	
	<!--  Depot -->
	<script src="module/depot/config/depot.config.js"></script>
	<script src="module/depot/depot.module.js"></script>
	
	<!-- Bond -->
	<script src="module/bond/config/bond.config.js"></script>
	<script src="module/bond/bond.module.js"></script>

</body>

</html>