<?xml version="1.0" encoding="UTF-8"?>
<revenue>
	<menuleft>
		<menu>
			<id>roots_menu</id>
			<icon></icon>
			<submenu>
				<subitem>
					<id>roots_menu_editors</id>
					<icon></icon>
					<submenu>
						<subitem>
							<id>roots_menu_editors_cv</id>
							<icon></icon>
							<path>cmp/editors/curriculum_vitae/</path>
						</subitem>
					</submenu>
				</subitem>
				<subitem>
					<id>roots_menu_reports</id>
				</subitem>
				<subitem>
					<id>roots_menu_statistics</id>
				</subitem>
				<subitem>
					<divider />
				</subitem>
				<subitem>
					<id>roots_menu_config</id>
					<submenu>
						<subitem>
							<id>roots_menu_config_eventtyp</id>
						</subitem>
					</submenu>
				</subitem>
			</submenu>
		</menu>
		<menu>
			<id>roots_repository</id>
			<icon></icon>
			<submenu>
				<subitem>
					<id>roots_repository_create</id>
				</subitem>
				<subitem>
					<id>roots_repository_change</id>
				</subitem>
			</submenu>
		</menu>
		<menu>
			<id>roots_info</id>
			<icon></icon>
			<submenu>
				<subitem>
					<id>roots_info_about</id>
					<icon></icon>
					<path>cmp/info/about/</path>
				</subitem>
			</submenu>
		</menu>
	</menuleft>
	<menuright>
		<menu>
			<id>roots_language</id>
			<icon></icon>
			<submenu>
				<subitemlang>
					<id>roots_language_de</id>
					<icon>cmp/revenue/icon/language/DE.png</icon>
				</subitemlang>
				<subitemlang>
					<id>roots_language_en</id>
					<icon>cmp/revenue/icon/language/GB.png</icon>
				</subitemlang>
			</submenu>
		</menu>
	</menuright>
</revenue>