<div>
	<div class="container">
		<div class="row">
			<div class="col">

				<ul class="list-group m-1">

					<li class="list-group-item active">

						<div class="container-fluid">
							<div class="row">
								<div class="col">
									<b>About</b>
								</div>
							</div>

						</div>

					</li>

				</ul>
				
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list-group m-1">
					<li class="list-group-item active">

						<div class="container-fluid">
							<div class="row">
								<div class="col">
								<b>
								Revenue Asset Performance Tool Made by mnemotron. 
								License: GPLV3
								
								- Angular 1.6.6
								</b>
								</div>>
							</div>
						</div>

					</li>
				</ul>
			</div>
		</div>
	</div>
</div>