<div style="height: 91%; overflow: auto;">
	<!-- <div> -->
	<div class="container">
		<div class="row">
			<div class="col">
				<ul class="list-group mt-1 mb-1">
					<li class="list-group-item active">
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									<b translate="about.title"></b>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<img class="card-img-top mt-1" src="../icon/revenue_logo.svg" height="100px" alt="Revenue">
					<div class="card-body">
						<h4 class="card-title">REVENUE | Asset Performance Tool</h4>
						<p class="card-text">
							Version: 1.0.0 [alpha] <br> License: <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License v3.0</a> <br> <br> Development: <a
								target="_blank" href="https://github.com/mnemotron/Revenue">GitHub</a>
						</p>
						<p class="card-text">
							<small class="text-muted">Made by mnemotron.</small>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list-group mt-1">
					<li class="list-group-item list-group-item-dark">
						<div class="container-fluid">
							<div class="row">
								<div class="col text-light">
									<b translate="about.txt.usedFrameworks"></b>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card-deck mt-1">
					<div class="card">
						<img class="card-img-top mt-1" src="icon/about/angular.svg" height="100px" alt="Angular">
						<div class="card-body">
							<h4 class="card-title">Angular</h4>
							<p class="card-text">
								Link: <a target="_blank" href="https://angularjs.org/">https://angularjs.org</a><br> Version: 1.6.6 <br> License: <a target="_blank"
									href="https://github.com/angular/angular.js/blob/master/LICENSE">The MIT License</a> <br> <br> Development: <a target="_blank" href="https://github.com/angular/angular.js">GitHub</a>
							</p>
							<p class="card-text">
								<small class="text-muted">The logo design is licensed under a <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/">"Creative Commons Attribution-ShareAlike 3.0
										Unported License"</a>.
								</small>
							</p>
						</div>
					</div>
					<div class="card">
						<img class="card-img-top mt-1" src="icon/about/bootstrap.svg" height="100px" alt="Bootstrap">
						<div class="card-body">
							<h4 class="card-title">Bootstrap</h4>
							<p class="card-text">
								Link: <a target="_blank" href="https://getbootstrap.com/">https://getbootstrap.com</a><br> Version: 4.0.0-beta.2 <br> License: <a target="_blank"
									href="https://github.com/twbs/bootstrap/blob/master/LICENSE">The MIT License</a> <br> <br> Development: <a target="_blank" href="https://github.com/twbs/bootstrap">GitHub</a>
							</p>
							<p class="card-text">
								<small class="text-muted">Docs and logo are licensed under a <a target="_blank" href="https://github.com/twbs/bootstrap/blob/master/docs/LICENSE">"Creative Commons Attribution 3.0
										Unported License"</a>.
								</small>
							</p>
						</div>
					</div>
					<div class="card">
						<!-- 						<div class="card-body"> -->
						<!-- 							<h4 class="card-title">jQuery</h4> -->
						<!-- 							<p class="card-text"> -->
						<!-- 								Link: <a target="_blank" href="http://jquery.com">http://jquery.com</a><br> -->
						<!-- 								Version: 3.2.1 <br> License: <a target="_blank" -->
						<!-- 									href="https://jquery.org/license/">jQuery License</a> <br> -->
						<!-- 								<br> Development: <a target="_blank" -->
						<!-- 									href="https://github.com/jquery">GitHub</a> -->
						<!-- 							</p> -->
						<!-- 						</div> -->
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card-deck mt-3">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">jQuery</h4>
							<p class="card-text">
								Link: <a target="_blank" href="http://jquery.com">http://jquery.com</a><br> Version: 3.2.1 <br> License: <a target="_blank" href="https://jquery.org/license/">jQuery License</a> <br>
								<br> Development: <a target="_blank" href="https://github.com/jquery">GitHub</a>
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Moment.js</h4>
							<p class="card-text">
								Link: <a target="_blank" href="https://momentjs.com/">https://momentjs.com</a><br> Version: 2.19.1 <br> License: <a target="_blank"
									href="https://github.com/moment/moment/blob/develop/LICENSE">The MIT License</a> <br> <br> Development: <a target="_blank" href="https://github.com/moment/moment/">GitHub</a>
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Popper.js</h4>
							<p class="card-text">
								Link: <a target="_blank" href="https://popper.js.org/">https://popper.js.org</a><br> Version: 1.11.0 <br> License: <a target="_blank"
									href="https://github.com/FezVrasta/popper.js/blob/master/LICENSE.md">The MIT License</a> <br> <br> Development: <a target="_blank" href="https://github.com/FezVrasta/popper.js">GitHub</a>
							</p>
							<p class="card-text">
								<small class="text-muted">Docs and logo are licensed under a <a target="_blank" href="https://github.com/FezVrasta/popper.js/blob/master/docs/LICENSE.txt">"Creative Commons
										Attribution 3.0 Unported"</a>.
								</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card-deck mt-3">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">ngToast</h4>
							<p class="card-text">
								Link: <a target="_blank" href="http://tamerayd.in/ngToast/">http://tamerayd.in/ngToast</a><br> Version: 2.0.0 <br> License: <a target="_blank"
									href="http://tameraydin.mit-license.org/">The MIT License</a> <br> <br> Development: <a target="_blank" href="https://github.com/tameraydin/ngToast">GitHub</a>
							</p>
						</div>
					</div>
					<div class="card"></div>
					<div class="card"></div>
				</div>

			</div>
		</div>
	</div>
</div>