<div style="height: 91%; overflow: auto;">
	<div class="container-fluid">

		<!-- TITLE -->
		<div class="row">
			<div class="col">
				<ul class="list-group m-1">
					<li class="list-group-item active">
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									<b translate="log.title"></b>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- LOG -->
		<div class="row">
			<div class="col">

				<div class="w-100" id="accordion" role="tablist">

					<div class="list-group m-1" ng-repeat="item in log">

						<div ng-switch="item.type">
							<a ng-switch-when="E" class="list-group-item list-group-item-danger list-group-item-action" data-toggle="collapse" data-target="#log{{$index}}" href="" aria-expanded="true"
								aria-controls="log{{$index}}">
								<div class="container-fluid">
									<div class="row">
										<div class="col">
											<b>{{item.date}} | {{item.module}}</b>
										</div>
									</div>
								</div>
							</a> <a ng-switch-default class="list-group-item list-group-item-secondary list-group-item-action" data-toggle="collapse" data-target="#log{{$index}}" href="" aria-expanded="true"
								aria-controls="log{{$index}}">
								<div class="container-fluid">
									<div class="row">
										<div class="col">
											<b>{{item.date}} | {{item.module}}</b>
										</div>
									</div>
								</div>
							</a>
						</div>

						<div ng-if="$first" class="collapse show" id="log{{$index}}" role="tabpanel" aria-labelledby="headerLog{{$index}}" data-parent="#accordion">
							<div class="list-group-item list-group-item-secondary">
								<div class="container-fluid">
									<div class="row text-dark">
										<div class="col"> 
											<div class="embed-responsive embed-responsive-1by1">
  												<iframe class="embed-responsive-item" srcdoc="{{item.msg}}"></iframe>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div ng-if="!$first" class="collapse" id="log{{$index}}" role="tabpanel" aria-labelledby="headerLog{{$index}}" data-parent="#accordion">
							<div class="list-group-item list-group-item-secondary">
								<div class="container-fluid">
									<div class="row text-dark">
										<div class="col"> 
											<div class="embed-responsive embed-responsive-1by1">
  												<iframe class="embed-responsive-item" srcdoc="{{item.msg}}"></iframe>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>

	</div>
</div>