<div class="m-1" style="height: 91%; overflow: auto;">
	<div class="container">
		<div class="row">
			<div class="col"></div>

			<div class="w-100" id="accordion" role="tablist">

				<div class="card">
					<a data-toggle="collapse" data-target="#preferencesLanguage" href="" aria-expanded="true" aria-controls="preferencesLanguage">
						<div class="card-header bg-primary" role="tab" id="headerPrefLanguage">
							<b class="text-white">Language</b>
						</div>
					</a>
					<div id="preferencesLanguage" class="collapse show" role="tabpanel" aria-labelledby="headerPrefLanguage" data-parent="#accordion">
						<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
							truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
							beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
							haven't heard of them accusamus labore sustainable VHS.</div>
					</div>
				</div>

				<div class="card">
					<div class="card-header bg-primary" role="tab" id="headerPrefCurrency">
						<a data-toggle="collapse" data-target="#preferencesCurrency" href="" aria-expanded="false" aria-controls="preferencesCurrency"><b class="text-white">Währung</b></a>
					</div>

					<div id="preferencesCurrency" class="collapse" role="tabpanel" aria-labelledby="headerPrefCurrency" data-parent="#accordion">
						<div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
							truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
							beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
							haven't heard of them accusamus labore sustainable VHS.</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>