<div>
	<div class="container">
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col">
				<div class="card text-white mb-3">
					<div class="card-header bg-primary">
						<b translate="viewCreateDepot.form.title"></b>
					</div>
					<div class="card-body bg-light">
						<form>
							<div class="form-group">
								<label for="depotName" class="text-dark" translate="viewCreateDepot.form.label.name"></label> <input
									ng-model="portfolio.name" type="depotName"
									class="form-control" id="depotName"
									aria-describedby="depotNameHelp"
									placeholder="{{ 'viewCreateDepot.form.input.name.placeholder' | translate }}">
							</div>
							<div class="form-group">
								<button ng-click="" type="submit"
									class="btn btn-success" translate="viewCreateDepot.form.button.create"></button>
								<a class="btn btn-danger" href="#!viewPortfolio" role="button" translate="viewCreateDepot.form.button.cancel"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>