<div>
	<div class="container">
 
		<div class="row">

			<div class="col">

				<ul class="list-group m-3">
					<li class="list-group-item active">

						<div class="container-fluit">
							<div class="row">
							<div class="col">
								<b>Depots</b></div> 
								<div class="col"></div>
							<div class="col" align="right" valign="middle"><a href="#!viewCreateDepot"><img src="icon/plus-2x.png"></a></div>
							</div>
						</div>

					</li>
					<li ng-repeat="depot in depots" class="list-group-item">{{depot.name}}</li>
				</ul>

				<!-- 				<a href="#" class="nav-link"> -->
				<!-- 					<div class="card text-white"> -->
				<!-- 						<div class="card-header bg-primary"> -->
				<!-- 							<b>Depots</b> -->
				<!-- 						</div> -->
				<!-- 						<div class="card-body bg-light"> -->



				<!-- 							<h4 class="card-title text-dark"></h4> -->

				<!-- 							<p class="card-text text-dark"></p> -->

				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</a> -->
			</div>

		</div>

		<div class="row">

			<div class="col">
				<a href="#" class="nav-link">
					<div class="card text-white">
						<div class="card-header bg-primary">
							<b>Konten</b>
						</div>
						<div class="card-body bg-light">
							<!-- 							<h4 class="card-title text-dark"></h4> -->
							<!-- 							<p class="card-text text-dark"></p> -->
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>