<div>
	<div class="container">
	<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col col-lg-4" ng-repeat="portfolio in portfolios">
				<a ng-click="selectPortfolio($index)" href="#!viewPortfolio" class="nav-link">
					<div class="card text-white" style="height: 12rem;">
						<div class="card-header bg-primary"><b translate="viewPortfolioLaunchpad.exist.title"></b></div>
						<div class="card-body bg-light">
							<h4 class="card-title text-dark">{{portfolio.name}}</h4>
							<p class="card-text text-dark">{{portfolio.description}}</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col col-lg-4">
				<a href="#!viewCreatePortfolio" class="nav-link">
					<div class="card text-white" style="height: 12rem;">
						<div class="card-header bg-secondary"><b translate="viewPortfolioLaunchpad.create.header"></b></div>
						<div class="card-body bg-light">
							    <h4 class="card-title text-dark" translate="viewPortfolioLaunchpad.create.title"></h4>
							    <p class="card-text text-dark"></br><img src="icon/plus-3x.png" class="mx-auto d-block"	alt="Create Portfolio"/></p>
							    
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>